// https://www.elegantthemes.com/blog/resources/elegant-icon-font


.et-social-{
    // replace googleplus with xing logo
    &google-plus {
        a.icon{
            background-color: $tyja-color-social-xing;
            &:before {
                content: "\e900";
                font-family: 'TyjaIcons', Fallback, sans-serif!important;
            }
            /*&:before {
            	content: "a";
                color: transparent!important;
                display: block;
                background-image: url(icons/social/xing_white.svg);
                background-size: cover;
            }*/
        }
    }
}
