$padding-text-side: 2%;

.tyja-slider {

    .et_pb_slide_description {
        text-shadow: none;
        animation-name: none;
    }
    .et_pb_slide_image {
        display: block!important;
    }

    &#{&}-sbs {

        .et_pb_slide {
            padding: 0 $padding-text-side 0 0;
            @include mq($until: tablet) {
                padding: 20px;
            }
        }

        .et_pb_slide_image {
            position: absolute;
            top: 0;
            left: 0;
            right: auto;
            margin-top: 0 !important;
            margin-right: 0;
            width: 30%;
            height: 100%;
            animation-name: fadeIn;

            img {
                max-height: 100%!important;
                height: 100%;
                width: 100%;
            }
        }

        &#{&}--r {      // double up class and add --r
            //TODO move content left
            //TODO  change animation to come from right
            .et_pb_slide {
                padding: 0 0 0 $padding-text-side;
            }

            .et_pb_slide_image {
                left: auto;
                right: 0;
            }
        }
    }   // end: .tyja-slider-sbs

    &#{&}-subtext {

        .et_pb_slide {
            padding: 0;

            .et_pb_slider_container_inner {
                vertical-align: baseline;

                .et_pb_slide_description {
                    display: block;
                    position: relative;
                    padding: 0;
                    width: 100%;
                    float: none;
                    top: 100%;

                    .et_pb_slide_title {
                        padding: math.div( $padding-text-side, 2) $padding-text-side;
                    }

                    .et_pb_slide_content {
                        padding: 0 $padding-text-side;
                    }

                    .et_pb_button_wrapper {
                        padding: 0 0 $padding-text-side $padding-text-side;
                    }
                }
            }
        }
    }   // end: .tyja-slider-subtext

}   // end: .tyja-slider
