@charset "UTF-8";

// https://developer.wordpress.org/themes/basics/main-stylesheet-style-css/

/**
 * Theme Name: týja child theme for Elegantthemes Divi & Extra
 * Description: týja support child theme for Divi
 * Theme URI: https://tyja.info
 * Author: Manfred Wisniewski, WIT Solutions
 * Author URI: https://witsolutions.de
 * Template: Divi
 * Version: 1.0.0
 * License:      GNU General Public License v2 or later
 * License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain:  tjya-et
 * @package tyja-et
 */

// DIVI main stylesheet
@import '../Divi/style.css';
//@import 'style.dev.css';
//@import './node_modules/normalize.css/normalize.css';

// Libraries etc.
@import 'node_modules/sass-mq/_mq';
$tyja-color-social-xing: #005a5f;

// DIVI
@import './fonts/_fonts';
@import './divi/_divi';
@import './divi-modules/_divi-modules';
@import './plugins/_plugins';
@import './shortcodes/_shortcodes';

@import 'tyja/_tyja';

/*
@font-face {
  font-family: 'ETmodules';
  font-display: swap;
  src: url("../Divi/core/admin/fonts/modules.eot");
  src: url("../Divi/core/admin/fonts/modules.eot?#iefix") format("embedded-opentype"), url("../Divi/core/admin/fonts/modules.ttf") format("truetype"), url("../Divi/core/admin/fonts/modules.woff") format("woff"), url("../Divi/core/admin/fonts/modules.svg#ETmodules") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/

/* CONFIGURE SASS-MQ */
    // To enable support for browsers that do not support @media queries,
    // (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
    // Create a separate stylesheet served exclusively to these browsers,
    // meaning @media queries will be rasterized, relying on the cascade itself
    $mq-responsive: true;

    // Name your breakpoints in a way that creates a ubiquitous language
    // across team members. It will improve communication between
    // stakeholders, designers, developers, and testers.
    $mq-breakpoints: (
        mobile:  400px,
        tablet:  768px,
        desktop: 1920px,
        wide:    2560px,

        // Tweakpoints
        //desktopAd: 810px,
        //mobileLandscape: 480px
    );

    // Define the breakpoint from the $mq-breakpoints list that should
    // be used as the target width when outputting a static stylesheet
    // (when $mq-responsive is set to 'false').
    $mq-static-breakpoint: desktop;

    // If you want to display the currently active breakpoint in the top
    // right corner of your site during development, add the breakpoints
    // to this list, ordered by width. For example: (mobile, tablet, desktop).
    $mq-show-breakpoints: (mobile, tablet, desktop);
/* END: CONFIGURE SASS-MQ */
