@charset "UTF-8";
/**
 * Theme Name: týja child theme for Elegantthemes Divi & Extra
 * Description: týja support child theme for Divi
 * Theme URI: https://tyja.info
 * Author: Manfred Wisniewski, WIT Solutions
 * Author URI: https://witsolutions.de
 * Template: Divi
 * Version: 1.0.0
 * License:      GNU General Public License v2 or later
 * License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain:  tjya-et
 * @package tyja-et
 */
@import '../Divi/style.css';
@font-face {
  font-family: "TyjaIcons";
  src: url("fonts/tyja-icon-font.eot");
  /* IE9 Compat Modes */
  src: url("fonts/webfont.eot?#iefix") format("embedded-opentype"), url("fonts/tyja-icon-font.woff") format("woff"), url("fonts/tyja-icon-font.ttf") format("truetype"), url("fonts/tyja-icon-font.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* remove default white backgrounds */
body .et_pb_section, body #main-content {
  background: transparent;
}

/* make default main-content container fullwidth TODO: TEST! 	*/
#main-content .container {
  width: 100%;
  max-width: 1920px;
  margin: 0;
}

.tyja-slider .et_pb_slide_description {
  text-shadow: none;
  animation-name: none;
}
.tyja-slider .et_pb_slide_image {
  display: block !important;
}
.tyja-slider.tyja-slider-sbs .et_pb_slide {
  padding: 0 2% 0 0;
}
@media (max-width: 46.24em) {
  .tyja-slider.tyja-slider-sbs .et_pb_slide {
    padding: 20px;
  }
}
.tyja-slider.tyja-slider-sbs .et_pb_slide_image {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  margin-top: 0 !important;
  margin-right: 0;
  width: 30%;
  height: 100%;
  animation-name: fadeIn;
}
.tyja-slider.tyja-slider-sbs .et_pb_slide_image img {
  max-height: 100% !important;
  height: 100%;
  width: 100%;
}
.tyja-slider.tyja-slider-sbs.tyja-slider.tyja-slider-sbs--r .et_pb_slide {
  padding: 0 0 0 2%;
}
.tyja-slider.tyja-slider-sbs.tyja-slider.tyja-slider-sbs--r .et_pb_slide_image {
  left: auto;
  right: 0;
}
.tyja-slider.tyja-slider-subtext .et_pb_slide {
  padding: 0;
}
.tyja-slider.tyja-slider-subtext .et_pb_slide .et_pb_slider_container_inner {
  vertical-align: baseline;
}
.tyja-slider.tyja-slider-subtext .et_pb_slide .et_pb_slider_container_inner .et_pb_slide_description {
  display: block;
  position: relative;
  padding: 0;
  width: 100%;
  float: none;
  top: 100%;
}
.tyja-slider.tyja-slider-subtext .et_pb_slide .et_pb_slider_container_inner .et_pb_slide_description .et_pb_slide_title {
  padding: 1% 2%;
}
.tyja-slider.tyja-slider-subtext .et_pb_slide .et_pb_slider_container_inner .et_pb_slide_description .et_pb_slide_content {
  padding: 0 2%;
}
.tyja-slider.tyja-slider-subtext .et_pb_slide .et_pb_slider_container_inner .et_pb_slide_description .et_pb_button_wrapper {
  padding: 0 0 2% 2%;
}

.et-social-google-plus a.icon {
  background-color: #005a5f;
  /*&:before {
  	content: "a";
      color: transparent!important;
      display: block;
      background-image: url(icons/social/xing_white.svg);
      background-size: cover;
  }*/
}
.et-social-google-plus a.icon:before {
  content: "";
  font-family: "TyjaIcons", Fallback, sans-serif !important;
}

/* Fix for Custom post Types until Toolset compatibility has been fixed by ET */
#sidebar {
  display: none;
}

@media (min-width: 981px) {
  #left-area {
    width: 100%;
    padding: 3px 0px 0px !important;
    float: none !important;
  }
}
#wuttkemenu *, #wuttkemenu *:after, #wuttkemenu *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#wuttkemenu a, #wuttkemenu button {
  outline: none;
}
#wuttkemenu a {
  color: #f0f0f0;
  text-decoration: none;
}
#wuttkemenu a:hover, #wuttkemenu a:focus {
  color: #f0f0f0;
  opacity: 0.8;
}
#wuttkemenu.clearfix:before, #wuttkemenu.clearfix:after {
  content: " ";
  display: table;
}
#wuttkemenu.clearfix:after {
  clear: both;
}
#wuttkemenu.grid {
  margin: 20px, auto, auto, 100px;
  max-width: 1000px;
  width: 100%;
}
#wuttkemenu.grid a:hover {
  text-decoration: none;
}
#wuttkemenu.grid div {
  float: left;
  max-width: 250px;
  width: 25%;
  color: #333;
}
#wuttkemenu.grid div:hover figure img {
  opacity: 1;
}
#wuttkemenu.grid div:hover figcaption h2, #wuttkemenu.grid div:hover figcaption p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
#wuttkemenu.grid div:hover figcaption p {
  opacity: 0;
}
#wuttkemenu.grid div:hover figure button {
  opacity: 0.8;
  -webkit-transform: scale(1);
  -webkit-transform: translateY(-25px) translateX(-95px) scale(1);
  transform: translateY(-25px) translateX(-95px) scale(1);
}
#wuttkemenu.grid div:hover figure button:hover {
  opacity: 1;
}
#wuttkemenu.grid figure {
  background-color: #FFF;
  position: relative;
  overflow: hidden;
  margin: 5px;
}
#wuttkemenu.grid figure img {
  position: relative;
  display: block;
  width: 100%;
  opacity: 0.7;
  /* check hover-effects for counterpart */
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#wuttkemenu.grid figure button {
  width: 90%;
  margin: 10px auto auto 50%;
  padding: 12px 20px;
  border: none;
  text-transform: none;
  letter-spacing: 1px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  top: 50%;
  left: 50%;
  background: #316ba8;
  color: #fff;
  opacity: 0;
  -webkit-transform: scale(0.25);
  transform: translateY(-25px) translateX(-95px) scale(0.25);
}
#wuttkemenu.grid figcaption {
  position: absolute;
  top: 0;
  z-index: 11;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}
#wuttkemenu.grid figcaption h2 {
  margin: 0 0 20px 0;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 130%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
#wuttkemenu.grid figcaption p {
  padding: 0 20px;
  color: #FFF;
  font-weight: 300;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
#wuttkemenu.grid figcaption h2, #wuttkemenu.grid figcaption p {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
#wuttkemenu.grid figcaption, #wuttkemenu.grid figcaption h2, #wuttkemenu.grid figcaption p, #wuttkemenu.grid figure button {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#wuttkemenu.grid svg {
  position: absolute;
  top: -1px;
  /* fixes rendering issue in FF */
  z-index: 10;
  width: 100%;
  height: 100%;
}
#wuttkemenu.grid:hover svg {
  height: 15% !important;
}

/* code styling mimics the custom css style of the divi theme builder */
code {
  padding: 0.75rem 1rem;
  color: #88dfbe;
  font-size: 14px;
  line-height: 0.9;
  font-family: "Anonymous Pro", monospace;
  font-weight: 600;
  background-color: #4c5866;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.tyja-wip {
  overflow: visible !important;
}
.tyja-wip::after {
  content: "🚧";
  display: block;
  position: absolute;
  top: 2rem;
  left: -2.75rem;
  right: auto;
  height: 3rem;
  width: 3rem;
  padding: 1rem;
  z-index: 99999999999999;
  background-color: black;
  border-radius: 50%;
  font-size: 2.25rem;
  line-height: 1.25;
  border: 0.25rem outset gold;
  opacity: 0.8;
}
.tyja-wip.tyja-wip--centered::after {
  top: -2rem;
  left: calc(50% - 2.75rem);
}

/*
@font-face {
  font-family: 'ETmodules';
  font-display: swap;
  src: url("../Divi/core/admin/fonts/modules.eot");
  src: url("../Divi/core/admin/fonts/modules.eot?#iefix") format("embedded-opentype"), url("../Divi/core/admin/fonts/modules.ttf") format("truetype"), url("../Divi/core/admin/fonts/modules.woff") format("woff"), url("../Divi/core/admin/fonts/modules.svg#ETmodules") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/* CONFIGURE SASS-MQ */
/* END: CONFIGURE SASS-MQ */

/*# sourceMappingURL=style.css.map */
