@font-face {
  font-family: 'tyja-icon-font';
  src:  url('fonts/tyja-icon-font.eot?e33p8q');
  src:  url('fonts/tyja-icon-font.eot?e33p8q#iefix') format('embedded-opentype'),
    url('fonts/tyja-icon-font.ttf?e33p8q') format('truetype'),
    url('fonts/tyja-icon-font.woff?e33p8q') format('woff'),
    url('fonts/tyja-icon-font.svg?e33p8q#tyja-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tyja-icon-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xing:before {
  content: "\e900";
}
