/* Fix for Custom post Types until Toolset compatibility has been fixed by ET */
#sidebar {
	display: none;
}
@media (min-width: 981px) {
  #left-area {
    width: 100%;
    padding: 3px 0px 0px !important;
    float: none !important;
  }
}
