@font-face {
  font-family: 'TyjaIcons';
  src: url('fonts/tyja-icon-font.eot'); /* IE9 Compat Modes */
  src: url('fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/tyja-icon-font.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/tyja-icon-font.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/tyja-icon-font.svg#svgFontName') format('svg'); /* Legacy iOS */
}
