/* code styling mimics the custom css style of the divi theme builder */
code {
    padding: .75rem 1rem;
    color: #88dfbe;
    font-size: 14px;
    line-height: .9;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 600;
    background-color: #4c5866;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
