.tyja-wip {
    overflow: visible!important;
    &::after {
        content:"🚧";
        display: block;
        position: absolute;
        top: 2rem;
        left: -2.75rem;
        right: auto;
        height: 3rem;
        width: 3rem;
        padding: 1rem;
        z-index: 99999999999999;
        background-color: black;
        border-radius: 50%;
        font-size: 2.25rem;
        line-height: 1.25;
        border: .25rem outset gold;
        opacity: .8;
    }
    &#{&}--centered {
        &::after  {
            top: -2rem;
            left: calc(50% - 2.75rem);
        }
    }
}
