
/* remove default white backgrounds */
body .et_pb_section, body #main-content {
	 background: transparent;
}

/* make default main-content container fullwidth TODO: TEST! 	*/
#main-content .container {
	width: 100%;
	max-width: 1920px;
	margin: 0;
}
